a{
  text-decoration: none;
}

IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto }

img.imagelink{
    max-width: 35%;
    max-height: 200px;
    margin-right: 10px;
}

div h3{
    text-align: center;
 padding-top:       5px;
  font-size:		1.25em;
  font-family:		Verdana, Geneva, Arial, sans-serif;
    margin-bottom: 5px;
}


div n1{
 padding-top:       5px;
  font-size:		1.2em;
  font-family:		Verdana, Geneva, Arial, sans-serif;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

div.construction{
    text-align:       center;
}

div object{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#navbar{
  width:	440px;
  max-width:	90%;
  margin-left: auto;
  margin-right: auto;
  font-family:		Verdana, Geneva, Arial, sans-serif;
  padding-bottom: 20px;
}

div#navbar h3{
 padding-top:       5px;
  font-size:		25px;
  font-family:		Verdana, Geneva, Arial, sans-serif;
margin-bottom: 5px;
}

div#navbar tr{
  font-size:		20px;
}

div#navbar table{
  margin-left:		auto;
  margin-right:		auto;
}

div#navbar table{
    width: 500px;
    max-width: 80%;
}

div#navbar td{
  padding-left:		15px;
  padding-right:	    15px;
}

div#navbar a{
  text-decoration:	none;
  color:		#828282;
}

div#navbar a:hover{
  color:		#8E0000;
}


div.era h1{
  font-family: 		Verdana, Geneva, Arial, sans-serif;
  text-align: center;
  font-size:		15px;
  color:		black;
  font-style:		italic;
  font-weight:		normal;
  border-color: 	#00127C;
  border-width: 	1px;
  border-bottom-style:		dotted;
  padding:		5px;
  margin:		auto;
  height:		20px;
  width:		device-width;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  padding-bottom: 15px;
}	


div.project {
  font-family: 		Verdana, Geneva, Arial, sans-serif;
  font-size: 		small;
  border-color: 	#00127C;
  border-width: 	1px;
  border-bottom-style:		dotted;
  padding:		5px;
  margin:		auto;
  height:		200px;
  width:		device-width;
  margin-left: 20px;
  margin-right: 20px;
}

div.project p1{
  color:		black;
    font-weight: bold;
  font-size:		1.1em;
  margin:		0px;
  padding:		0px;
}


div.project h1{
  margin:		0px;
  padding:		0px;
    font-size: 22px;
}

div.project a{
  color:		black;
  text-decoration:	none;
  font-size:		15px;
  margin:		0px;
  padding:		0px;
}

div.project h2{
  font-size:		15px;
  color:		#828282;
  font-style:		italic;
  font-weight:		normal;
  margin:		0px;
  padding:		0px;
}

div.project p{
  font-size:		1em;
}

div.project img {
  right-margin:		10px;
  float:		left;
}

div.project div.textblock{
  margin-right:		auto;
        left-margin: 260px;
}

div.project a.projecttitle:hover{
  color:		#8897ED
}

div.project p a:link{
  color: blue;
}

div.project p a:visited {
    color: purple;
}

div.project p a:hover{
  color:			#8E0000;
}

.imagelink{
  border-style: none;
}


div#footer{
   padding-top: 20px; 
  font-family:	Verdana, Geneva, Arial, sans-serif;
  padding-bottom: 15px;
}

div#footer tr{
  font-size:		15px;
}

div#footer table{
  margin-left:		auto;
  margin-right:		auto;
}

div#footer td{
  padding-left:		20px;
  padding-right:	20px;
}

div#footer a{
  text-decoration:	none;
  color:		#828282;
}


div#footer a:hover{
  color:		#8E0000;
}
